### Implementation of Pandas In Real DataSet
**Student DataSet** - https://www.kaggle.com/datasets/desalegngeb/students-exam-scores?resource=download
**Pandas all Operations** - https://www.youtube.com/watch?v=vmEHCJofslg

<br></br>
### Important Builtin Methods

```import pandas as pd ```

1. **DataFrame Creation**
   1. pd.DataFrame(data): Create a DataFrame from various data structures like arrays, lists, dictionaries, or NumPy arrays.
   2. pd.read_csv(file_path): Read a CSV file and create a DataFrame.
   <br></br>
2. **Data Exploration and Manipulation**
   1. df.head(n): Get the first n rows of the DataFrame.
   2. df.tail(n): Get the last n rows of the DataFrame.
   3. df.info(): Display information about the DataFrame, including data types and column names.
   4. df.describe(): Generate descriptive statistics of the DataFrame.
   5. df.shape: Get the dimensions (rows, columns) of the DataFrame.
   6. df.columns: Get the column labels of the DataFrame.
   7. df.dtypes: Get the data types of each column.
   8. df.isnull(): Check for missing values in the DataFrame.
   9. df.dropna(): Remove rows or columns with missing values.
   10. df.groupby(by): Group the DataFrame by one or more columns.
   11. df.sort_values(by): Sort the DataFrame based on one or more columns.
   12. df.rename(columns): Rename columns of the DataFrame.
   13. df.merge(df2): Merge two DataFrames based on common columns.
<br></br>
3. **Data Selection and Filtering**
   1. df.index = Used to get all the index of the data frame
   2. df[column_name]: Select a specific column or multiple columns.
   3. df.loc[row_indexer, column_indexer]: Access specific rows and columns using labels.
   4. df.iloc[row_indexer, column_indexer]: Access specific rows and columns using integer-based indexing.
   5. df.query(expression): Filter rows based on a Boolean expression.

In [32]:
import pandas as pd

filePath = "C:/Users/NANDANGN/Desktop/Python Programming/Python_Programming/Student_DataSet.csv"

df = pd.read_csv(filePath,index_col="Unnamed: 0")

coulmns = df.columns
print("columns Available: ",coulmns)

shape = df.shape
print("shape of Dataset: ",shape)

# accessing the required columns and indentifying the unique data
df['Gender'].unique()
df['EthnicGroup'].unique()
df['ParentEduc'].unique()
df['TestPrep'].unique()

df.iloc[0:10]

columns Available:  Index(['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'TestPrep',
       'MathScore', 'ReadingScore', 'WritingScore'],
      dtype='object')
shape of Dataset:  (30641, 8)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [6]:
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,male,group C,some high school,standard,none,56,47,51
996,male,group E,associate's degree,free/reduced,none,74,75,72
997,male,group C,some college,standard,none,36,29,27
998,male,group A,some high school,free/reduced,completed,43,34,39
999,female,group D,associate's degree,standard,none,52,68,66